* {
    box-sizing: border-box;
    font-size: 14px;
}

html, body, #ros {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    overflow: hidden;
}
