.ros-toolbar {
    width: 100%;
    background: $color-dark-gray;
    z-index: 2147483640;
    @include user-select(none);

    &.shadow {
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .52);
    }
}
