.ros-icon {
  color: $color-alt-white;
  cursor: pointer;
  z-index: 5;

  &.focus {
    > .element {
      color: darken($color-alt-white, 25%);
    }

    > .title {
      background-color: $color-dark-gray;
      border-color: lighten($color-dark-gray, 15%);
      overflow: auto;
      white-space: normal;
      text-overflow: clip;
      box-shadow: 0 1px 0px rgba(0, 0, 0, .22);
    }
  }

  > .element {
    text-shadow: 0 1px 0px rgba(0, 0, 0, .62);
  }

  > .title {
    border: dotted 1px transparent;
    padding: 2px;
    border-radius: $radius;
    text-shadow: 0 1px 0px rgba(0, 0, 0, .62);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include user-select(none);
  }
}